.features {
    padding: 4rem 2rem;
    background-color: #f9f9f9;
    max-width: 1200px;
    margin: 0 auto;
  
    .feature-section {
      margin-bottom: 3rem;
  
      .section-title {
        width: 300px;
        font-size: 2rem;
        color: #2c3e50;
        margin-bottom: 2rem;
        text-align: left;
        border-left: 4px solid #e74c3c;
        padding-left: 1rem;
      }
  
      .feature-categories {
        display: flex;
        flex-direction: column; /* Disposition en colonne */
        gap: 1.5rem; /* Espacement entre les cartes */
        margin-left: 1.5rem;
      }
  
      .feature-category {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        // padding: 2rem;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        overflow: hidden; /* Pour que le contenu ne dépasse pas */
        transition: transform 0.3s ease, box-shadow 0.3s ease;
  
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
        }
  
        .feature-icon {
          font-size: 2.5rem;
          color: #fff;
          background-color: #1abc9c;
          width: 100px;
          height: 100px;
        padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1.5rem;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #c0392b;
          }
        }
  
        .feature-content {
          padding: 1rem;
          flex: 1;
  
          h3 {
            font-size: 1.25rem;
            color: #2c3e50;
            margin-bottom: 0.5rem;
            font-weight: bold;
          }
  
          p {
            font-size: 0.875rem;
            color: #555;
            margin-bottom: 1rem;
            line-height: 1.5;
          }
  
          .learn-more {
            font-weight: bold;
            color: #e74c3c;
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
              color: #c0392b;
            }
          }
        }
      }
    }
  }
  